// =============================================================================
//
// Name:          Ratio
//
// Description:   For use with media embeds - suck as videos, slideshows, or
//                even images that need to retain specific aspect ratio.
//
// Block:         `o-ratio`
//
// Element:       `o-ratio__item`
//
// Modifiers:     `o-ratio--3by1`
//                `o-ratio--2by1`
//                `o-ratio--16by9`
//                `o-ratio--4by3`
//
// Markup:
//
// <div class="o-ratio  o-ratio--16by9">
//     <iframe class="o-ratio__item src="..."></iframe>
// </div>
//
// <figure class="o-ratio  o-ratio--4by3">
//     <img class="ratio__item src="path/to/image.jpg" alt="">
// </figure>
//
// =============================================================================





// Variables
// =============================================================================

// Predefine the variables below in order to alter and enable specific features.

$tree-ratio-namespace:       $tree-namespace !default;

$tree-enable-ratio--3by1:    false !default;
$tree-enable-ratio--2by1:    false !default;
$tree-enable-ratio--16by9:   false !default;
$tree-enable-ratio--4by3:    false !default;





// =============================================================================
// Block: `o-ratio`
// =============================================================================

// 1. Default aspect ratio is 1:1.

.#{$tree-ratio-namespace}o-ratio {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 100%; // [1]
    overflow: hidden;
}

    // Element: `o-ratio__item`
    // =========================================================================

    .#{$tree-ratio-namespace}o-ratio__item {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }





@if ($tree-enable-ratio--3by1 == true) {

    // Modifier: `o-ratio--3by1`
    // =========================================================================

    .#{$tree-ratio-namespace}o-ratio--3by1 {
        padding-bottom: 33.33333%;
   }

}

@if ($tree-enable-ratio--2by1 == true) {

    // Modifier: `o-ratio--2by1`
    // =========================================================================

    .#{$tree-ratio-namespace}o-ratio--2by1 {
        padding-bottom: 50%;
   }

}

@if ($tree-enable-ratio--16by9 == true) {

    // Modifier: `o-ratio--16by9`
    // =========================================================================

    .#{$tree-ratio-namespace}o-ratio--16by9 {
        padding-bottom: 56.25%;
   }

}

@if ($tree-enable-ratio--4by3 == true) {

    // Modifier: `o-ratio--4by3`
    // =========================================================================

    .#{$tree-ratio-namespace}o-ratio--4by3 {
        padding-bottom: 75%;
   }

}
